.container {
    position: absolute;
    padding: 10px 0;
    display: flex;
}

.button{
    padding: 3px;
}

.left {
    left: 0;
}

.right {
    right: 0;
    left: auto;
    justify-content: flex-end;
}

.top {
    top: 0;
}

.bottom{
    bottom: 0;
    top: auto;
    justify-content: flex-end;
}

.horizontal{
   
    height: 42px;
    flex-flow: row;
}

.vertical{
    height: auto;
    width: 42px;
    flex-flow: column;
}

